.searchBar {
    border-radius: 15px;
    max-width: 800px;
    min-width: 400px;
    padding: 0 1.5em 3em;
    box-shadow: 1px 1px 5px 0 rgb(211, 210, 210);
}

h1 {
    color: #fb6100;
    text-align: center;
    font-size: calc(1rem + 2.5vw);
    padding: 0.5rem;
    margin: 0;
}

/* Caption below header */
h2 {
    color: #425356;
    text-align: center;
    font-size: calc(0.5rem + 1vw);
    font-weight: lighter;
    padding: 0.5rem;
    margin: 0.5rem 0 1rem 0;
}

/* Search box containing input and button */
.searchBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    min-width: 350px;
    border: 1px solid #425356;
    border-radius: 35px;
    margin: auto;
    
}

/* Indirizzo di consegna */
input {
    color: black;
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
    border: none;
    background-color: unset;
    outline: none;
    margin: 0;
    margin-left: 20px; 
    width: auto;
    
}

label {
    position: absolute;
    left: 0;
    font-family: inherit;
    color: #425356;
    margin: 0;
    margin-left: 20px;
    transform-origin: 0 0;
    transition: transform 0.25s ease;
}

/* I have to make it so that what I type stays below animated label */

input:focus + label, input:not(:placeholder-shown) + label {
    transform: translateY(-1em) scale(0.9);
}

input::placeholder {
    color: transparent;
}

/* Trova i ristoranti */
button {
    background-color: #fb6100;
    color: white;
    font-size: 1.2rem;
    border: 0;
    border-radius: 35px;
    padding: 20px;
    margin: 3.5px;
}

button:hover {
    background-color: #e65903;
}



/* animate label differently when in mobile view */
/* make it responsive */
/* download magnifying class when mobile view */