<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="searchbar.css">
    <title>Search Bar</title>
</head>
<body>
    <div class="searchBar">
        <h1>
            Il bello è prenderci gusto
        </h1>
         
        <h2>
            Ordina online dai tuoi ristoranti preferiti
        </h2> 
        
        <form class="searchBox">
            <input type="search" id="address" placeholder=" ">
            <label for="address">Indirizzo di consegna</label>
            <button>Trova i ristoranti!</button>
        </form>
    </div>  
</body>
</html>