/* write your css here */


#card-section{
  padding: 48px;
  position: relative;
  bottom: 11rem;
}
#card-section > p {
  margin-top: 10px;
  margin-left: 25px;
}

#card-section > h1 {
  margin-left: 25px;
}

#main-card-section {
  overflow-x: scroll;
  display: flex;
}

.cards {
  padding: 10px;
  margin-top: 10px;
}

.cards img {
  height: 130px;
  background-color: rgba(255, 68, 0, 0.887);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.cards p {
  display: flex;
  justify-content: center;
}
.cards p:hover{
  text-decoration: underline;
}

.cards img:hover {
  background-color: orangered;
}

@media (max-width: 768px) {
  #card-section {
    padding: 20px;
    bottom: 0;
  }
}

@media (max-width: 375px) {
  #card-section {
    padding: 10px;
    bottom: 0;
  }
}
