<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="address-change-area.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Address Change Area</title>
  </head>
  <body>
    <section class="addressSectionResults">
      <div class="mapMarkerAndAddress">
        <div class="fa fa-map-marker fa-lg"></div>
        <p class="actualAddress">Viale Romolo, 20143 Milano</p>
      </div>

      <div class="changeAreaContainer">
        <a class="changeArea" href="#">Cambia Zona</a>
      </div>
    </section>
  </body>
</html>
