<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sidebar-searchpage.css" />
    <title>Sidebar Searchpage</title>
  </head>
  <body>
    <div class="sidebar-box">
      <section class="cousines-section">
        <div class="cousines-header-box">
          <header class="cousines-header">
            <div class="icon-and-title">
              <img src="images/food-and-drink.png" alt="food and drink icon" />
              <div class="a-to-z bold">Tutte le altre (A-Z)</div>
            </div>

            <div class="reset">Resetta</div>
          </header>
        </div>

        <div>
          <ul class="cousines-options">
            <li class="sidebar-item">
              <div class="description">Alimentari</div>
              <div class="amount">10</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Americano</div>
              <div class="amount">46</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Arabo</div>
              <div class="amount">2</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Argentino</div>
              <div class="amount">2</div>
            </li>
            <li class="sidebar-item">
              <div class="description">AsianFusion</div>
              <div class="amount">16</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Bakery</div>
              <div class="amount">6</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Bao & Ravioli</div>
              <div class="amount">18</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Bevande</div>
              <div class="amount">24</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Bubble Tea</div>
              <div class="amount">6</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Cinese</div>
              <div class="amount">64</div>
            </li>
            <li class="see-others">vedi altri</li>
          </ul>
        </div>
      </section>
      <br />
      <section class="filters-section">
        <div class="filters-header-box">
          <header class="filters-header">
            <div class="icon-and-title">
              <img src="images/filters.png" alt="filters icon" />
              <div class="filtri bold">Filtri</div>
            </div>

            <div class="reset">Resetta</div>
          </header>
        </div>

        <div>
          <ul>
            <li class="sidebar-item">
              <div class="description">Offerte speciali</div>
              <div class="amount">206</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Consegna gratuita</div>
              <div class="amount">75</div>
            </li>
            <li class="sidebar-item">
              <div class="description">4+ stelle</div>
              <div class="amount">395</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Aperto ora</div>
              <div class="amount">207</div>
            </li>
            <li class="sidebar-item">
              <div class="description">Ritiro al locale</div>
              <div class="amount">468</div>
            </li>

            <li class="sidebar-item">
              <div class="description">Nuovo</div>
              <div class="amount">26</div>
            </li>
            <li class="sidebar-item-disabled">
              <div class="description">Halal</div>
              <div class="amount">0</div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>
