/* Reset default styles */

/* Footer styles */
.RealFooter {
  font-family: JetSansDigital, Arial, sans-serif;
  background-color: #efedea;
  padding: 40px 0;
  color: #242e30;
}

.ConteinerFooter {
  display: flex;
  justify-content: space-between;
  max-width: 1272px;
  margin: 0 auto;
}

.check-dropdown{
  width: 100%;
  text-align: inherit;
  border: transparent;
  background: none;
}

.ConteinerFooter h2 {
  margin-bottom: 20px;
}

.ConteinerFooter ul {
  list-style: none;
}

.ConteinerFooter li {
  margin-bottom: 10px;
}

.ConteinerFooter a {
  color: #242e30;
  text-decoration: none;
}

.ConteinerFooter a:hover {
  text-decoration: underline;
}

/* .styleButton {
  border: none;
  background-color: #fff7f2;
} */

/* Media Queries */
@media (max-width: 428px) {
  .RealFooter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-top: 10px ;
    padding-bottom: 0;
  }
  .ConteinerFooter {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    gap: 1rem;
  }

  .single-container{
    width: 100%;
    border-bottom: 1px solid #dbd9d7;
    padding: 10px;
  }

  .ConteinerFooter h2 {
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .active{
    margin-left: 30px;
    display: none;
  }

  .dropdown-button {
    cursor: pointer;
  }

  .dropdown-button::after {
    content: "\25BE"; /* Unicode down arrow symbol */
    display: inline-block;
    margin-left: 5px;
  }

  .check-dropdown:active ul.active{
    display: block ;
  }
}
