<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="navbar.css" />
    <title>Navbar</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="topImage">
          <img src="icons/coupon_just_eat.webp" alt="logo-just-eat" />
        </div>
        <nav>
          <ul id="list-dropdown">
            <li>
              <a href="#">Accedi</a>
            </li>
            <li>
              <img
                src="icons/noun-help-2057866.svg"
                alt="help-icon"
                height="24"
                width="24"
              />
              <a href="#">Aiuto ?</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
