<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="searchbar.css" />
    <title>Search bar Searchpage</title>
  </head>
  <body>
    <main>
      <div id="searchContainer">
        <form action id="searchForm">
          <div id="searchForm-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <defs>
                <path
                  d="M19.72 18.28L15.42 14A6.91 6.91 0 1014 15.39l4.29 4.3a1 1 0 001.42 0 1 1 0 00.01-1.41zM4.92 9.82a4.95 4.95 0 114.94 4.94 4.94 4.94 0 01-4.94-4.94z"
                  id="a"
                ></path>
              </defs>
              <use fill="#f36805" href="#a" fill-rule="evenodd"></use>
            </svg>
          </div>
          <input
            type="search"
            id="search-input"
            placeholder="Cerca per cucina o ristorante"
            autocomplete="off"
          />
        </form>
      </div>
    </main>
  </body>
</html>
