.searchContainerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.searchContainerWrapper #searchContainer {
  margin: 10px 0 24px;
  order: -5;
  position: relative;
  border-radius: 50rem;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 65px;
}
.searchContainerWrapper #searchContainer #searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.searchContainerWrapper #searchContainer #searchForm:focus-within {
  outline: 1px solid blue;
  border-radius: 50rem;
}
.searchContainerWrapper #searchContainer #searchForm #searchForm-icon {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
}
.searchContainerWrapper #searchContainer #searchForm #searchForm-icon svg {
  width: 100%;
  height: 100%;
}
.searchContainerWrapper #searchContainer #searchForm input {
  font-size: 1.25rem;
  padding: 21px 20px 21px 10px;
  z-index: 100;
  width: 100%;
  position: relative;
  border-radius: 50rem;
  outline: 0;
  border: 0;
}
.searchContainerWrapper #resultSearchbar {
  display: flex;
  width: 100%;
  max-height: 35px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.searchContainerWrapper #resultSearchbar #infoButton {
  width: 16px;
  height: 16px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}
.searchContainerWrapper #resultSearchbar #infoButton:hover {
  box-shadow: 1px 1px 5px 5px lightgray;
  border-radius: 50%;
}
.searchContainerWrapper #resultSearchbar #main-result {
  flex: 1;
}
.searchContainerWrapper #resultSearchbar #sortList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: 35px;
}
.searchContainerWrapper #resultSearchbar #sortList #listTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  max-height: 35px;
  position: relative;
  right: -200px;
}
.searchContainerWrapper #resultSearchbar #sortList #listTitle:hover #result-list-container {
  visibility: visible;
}
.searchContainerWrapper #resultSearchbar #sortList #listTitle svg {
  width: 18px;
  height: 18px;
}
.searchContainerWrapper #resultSearchbar #sortList #listTitle #result-list-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  top: 6rem;
  right: 11.2rem;
  width: 200px;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #dbd9d7;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
}
.searchContainerWrapper #resultSearchbar #sortList #listTitle #result-list-container li {
  list-style: none;
}
.searchContainerWrapper #resultSearchbar #sortList #listTitle #result-list-container li label {
  cursor: pointer;
  padding: 8px 8px 8px 15px;
}
.searchContainerWrapper #resultSearchbar #sortList #listTitle #result-list-container li input[type=radio]:hover {
  outline: 2px solid #f36805;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .searchContainerWrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .searchContainerWrapper #searchContainer {
    width: 90%;
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 5;
  }
  .searchContainerWrapper #resultSearchbar {
    margin-left: 2rem;
  }
  .searchContainerWrapper #resultSearchbar #sortList #listTitle {
    display: none;
  }
}/*# sourceMappingURL=searchbar.css.map */