<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="index.css" />
    <title>Card Searchpage</title>
  </head>
  <body>
    <main class="carouselSearchpage">
      <div class="cardCarouselSearchpage">
        <img class="spesa" src="spesa.webp" alt="" />
        <p>Spesa</p>
      </div>

      <div class="cardCarouselSearchpage">
        <img class="pizza" src="pizza.webp" alt="" />
        <p>Pizza</p>
      </div>
      <div class="cardCarouselSearchpage">
        <img class="hamburger" src="hamburger.webp" alt="" />
        <p>Hamburger</p>
      </div>

      <div class="cardCarouselSearchpage">
        <img class="italiano" src="italiano.webp" alt="" />
        <p>Italiano</p>
      </div>

      <div class="cardCarouselSearchpage">
        <img class="americano" src="americano.webp" alt="" />
        <p>Americano</p>
      </div>

      <div class="cardCarouselSearchpage">
        <img class="giapponese" src="giapponese.webp" alt="" />
        <p>Giapponese</p>
      </div>

      <div class="cardCarouselSearchpage">
        <img class="cinese" src="cinese.webp" alt="" />
        <p>Cinese</p>
      </div>

      <div class="cardCarouselSearchpage">
        <img class="kebab" src="kebab.webp" alt="" />
        <p>Kebab</p>
      </div>
    </main>
  </body>
</html>
